<!-- eventsList.ejs -->

<div class="container mt-5">
  <h1 class="mb-4">Events List</h1>
  <table class="table" id="eventsTable">
    <thead>
      <tr>
        <th scope="col">Event Name</th>
        <th scope="col">Host Name</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody id="eventsList">
      <!-- Events will be added here dynamically -->
    </tbody>
  </table>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    const eventsTable = document.getElementById("eventsList");

    // Fetch events from the server
    fetch("/events")
      .then((response) => response.json())
      .then((events) => {
        events.forEach((event) => {
          // Create a new row for each event
          const row = document.createElement("tr");
          row.setAttribute("data-event-id", event.id); // Add data attribute for event ID
          row.innerHTML = `
          
            <td>${event.name}</td>
            <td>${event.owner_full_name}</td>
            <td>
              <a type="button" class="btn btn-primary delete-btn" href="/events/${event.id}"> Details </a>
              <a href="/events/${event.id}/edit" class="btn btn-warning me-2">Edit</a>
              <button type="button" class="btn btn-danger delete-btn" data-event-id="${event.id}">Delete</button>
            </td>
          
          `;
          eventsTable.appendChild(row);
        });

        // Add event listener for delete buttons
        const deleteButtons = document.querySelectorAll(".delete-btn");
        deleteButtons.forEach((button) => {
          button.addEventListener("click", function () {
            const eventId = this.getAttribute("data-event-id");

            // Perform AJAX request to delete the event
            fetch(`/events/del/${eventId}`, {
              method: "post",
              headers: {
                "Content-Type": "application/json",
              },
            })
              .then((response) => {
                if (response.ok) {
                  // Remove the row from the table
                  const row = document.querySelector(
                    `tr[data-event-id="${eventId}"]`
                  );
                  row.remove();
                } else {
                  console.error("Failed to delete event");
                }
              })
              .catch((error) => console.error("Error:", error));
          });
        });
      })
      .catch((error) => console.error("Error fetching events:", error));
  });
</script>
